body {
    width: 844px;
    border : 2px solid #cc0000;
    background-color: #ffe5e5;
}

#MenuArea {
    height: 400px;
    width: 100px;
    border: 2px solid #cc0000;
    border-top-width: 0px;
    border-left-width: 0px;
    border-bottom-width: 0px;
    float: left;
    background-color: #ff8080;
}

#HeaderArea {
    width: 844px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #cc0000;
    background-color: #ff8080;
}

.HeadLine {
    vertical-align: top;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
}

#MainAreaBorder {
    width: 689px;
    height: 380px;
    padding-top: 20px;
    padding-left: 155px;
    background-image: url("Images/Tri-C.edu");
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}

#MainArea {
    
}

#FooterArea {
    width: 844px;
    border : 1px solid #cc0000;
    border-top-width: 2px;
    border-left-width: 0px;
    border-bottom-width: 0px;
    clear: left;
    background-color: #ff8080;
    padding-bottom: 3px;
    font-weight: bold;
}


.FooterText {
    font-family: 'Times New Roman';
    font-size: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    color: lightgray;
}

.MenuItem {
    border: 1px dotted #cc0000;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    text-align: center;
    padding-top: 5px;
    width: 100px;
    height: 25px;
}

.MenuItem a:hover {
    color : chartreuse;
    font-size: 15px;
    font-weight: bold;
}

.MenuText {
    font-size: small;
}

.LogoImage {
    margin: 5px 5px 2px 10px;
}

.HeadLine {
    font-size: 25px;
}
